---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "home";

const allPosts = await Astro.glob("./blog/*.md");

allPosts.sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).valueOf() -
        new Date(a.frontmatter.pubDate).valueOf(),
);

const recentPosts = allPosts.slice(0, 3);
---

<BaseLayout pageTitle={pageTitle}>
    <div class="space-y-20">
        <div class="font-mono text-xl lg:text-2xl">
            <h1 class="font-bold">hi, my name is rid</h1>
            <p class="text-gray-400 mt-2">
                I love physics and code.
            </p>
        </div>

        <!-- <div class="font-mono"> -->
        <!--     <h2 class="text-2xl font-bold">latest posts</h2> -->
        <!--     <ul class="mt-6 space-y-5"> -->
        <!--         { -->
        <!--             recentPosts.map((post) => ( -->
        <!--                 <li> -->
        <!--                     <a -->
        <!--                         href={post.url} -->
        <!--                         class="group block transition-all hover:pl-2" -->
        <!--                     > -->
        <!--                         <p class="text-xl font-medium text-gray-200 group-hover:text-indigo-400"> -->
        <!--                             {post.frontmatter.title} -->
        <!--                         </p> -->
        <!--                         <p class="text-sm text-gray-500"> -->
        <!--                             {new Date( -->
        <!--                                 post.frontmatter.pubDate, -->
        <!--                             ).toLocaleDateString("en-US", { -->
        <!--                                 year: "numeric", -->
        <!--                                 month: "short", -->
        <!--                                 day: "numeric", -->
        <!--                             })} -->
        <!--                         </p> -->
        <!--                     </a> -->
        <!--                 </li> -->
        <!--             )) -->
        <!--         } -->
        <!--     </ul> -->
        <!--     <a -->
        <!--         href="/blog" -->
        <!--         class="inline-block mt-8 text-indigo-400 hover:underline" -->
        <!--     > -->
        <!--         View all posts &rarr; -->
        <!--     </a> -->
        <!-- </div> -->
    </div>
</BaseLayout>
