---
import Contact from "../ui/Contact.astro";
---

<footer class="flex lg:justify-between text-xs lg:text-sm font-mono pt-10">
    <p>created by rid</p>
    <div>
        <Contact url="https://github.com/rid333" username="github/rid333" />
        <!-- <Contact -->
        <!--     url="https://www.reddit.com/user/sagman09" -->
        <!--     username="reddit/sagman09" -->
        <!-- /> -->
        <Contact
            url="mailto:alridho2003@gmail.com"
            username="alridho2003@gmail.com"
        />
    </div>
</footer>
