---
import Contact from "../ui/Contact.astro";
---

<footer class="flex lg:justify-between text-xs lg:text-sm font-mono pt-10">
    <p>created by rid</p>
    <div>
        <Contact
            url="https://github.com/sillycat333"
            username="github/sillycat333"
        />
        <!-- <Contact -->
        <!--     url="https://www.reddit.com/user/sagman09" -->
        <!--     username="reddit/sagman09" -->
        <!-- /> -->
        <Contact url="mailto:rid2003@proton.me" username="rid2003@proton.me" />
    </div>
</footer>
