---

---

<header class="font-mono z-10">
    <nav class="flex justify-between">
        <div class="font-extrabold flex justify-center items-center gap-1">
            > $HOME <div class="pb-1 text-sm animate-blink">|</div>
        </div>

        <div class="flex gap-5">
            <a class="hover:underline" href="/">/home</a>
            <!--<a class="hover:underline" href="/about">/about</a>-->
            <a class="hover:underline" href="/blog">/blog</a>
            <a class="hover:underline" href="/CV_en.pdf">/cv</a>
            <a class="hover:underline" href="/tags">/tags</a>
        </div>
    </nav>
</header>
